nav.nav-highlight {
  .nav-link {
    height: 2rem;
    color: var(--bs-black);
    &:hover {
      color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 30px;
        height: 3.5px;
        background: #1f5297;
        margin-top: 40px;
      }
    }

    &.active {
      font-weight: 500;
      color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 30px;
        height: 3.5px;
        background: #1f5297;
        margin-top: 40px;
      }
    }
  }
}