div.resume {
  margin-bottom: 1rem;
  .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -9px;
      top: 0;
      background: #fff;
      border: 2px solid #1f5297;
    }

    .resume-item-heading {
      line-height: 18px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      color: #050d18;
      margin-bottom: 10px;
    }

    .resume-item-sub-heading {
      font-size: 16px;
      background: inherit;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &:last-child {
      padding-bottom: 0px;
    }
  }
}