.page-heading-title {
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #1f5297;
    margin-top: 10px;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  div.link-container{
    width: 22rem;
  }
}